html {
    min-height: 100%;
}
#addUpdateBlock {
    display: none;
}
.deleteBut {
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
    color: white;
    border-radius: 5px;
    transition: all ease 0.5s;
}
#restaurantOpenClose {
    width: 100%;
    text-align: -webkit-center;
    font-size: 150%;
    transition: all ease 0.5s;
    
/*    Green: #5cb85c */
/*    Red: #d9534f */
}
#settingsHeader {
    border: none;
}

#updateButton {
    color: white;
    background-color: #31b0d5;;
    border-color: #31b0d5;;
    transition: all ease 0.5s;
    border-radius: 5px;
    /*width: 50%;*/
}

#updateButton:hover {
    background-color: rgb(96, 217, 222);
    border-color: rgb(96, 217, 222);
}
.enabledItem {
    color: white;
    background-color: #5cb85c;
    border-color: #5cb85c;
    transition: all ease 0.5s;
    border-radius: 5px;
    /*width: 50%;*/
    /*padding: 0 5% 0 5%;*/
}
.disabledItem {
    color: white;
    background-color: #d9534f;
    border-color: #d9534f;
    transition: all ease 0.5s;
    border-radius: 5px;
    /*width: 50%;*/
    /*padding: 0 5% 0 5%;*/
}
.enabledItem:hover {
    background-color: rgb(92, 222, 92);
    border-color: rgb(92, 222, 92);
}
.disabledItem:hover {
    background-color: rgb(255, 83, 79);
    border-color: rgb(255, 83, 79); 
}
#d-hide {
    width: 100%;
    display: flex;
    flex-flow: row;
    transition: all ease 0.5s;
/*  hides*/
    margin-top: -5%;
    display: none;
    opacity: 0;
}
#deleteBut {
    width: 100%;
}
#d-pass {
    width: 80%;
}
#d-final {
    width: 20%;
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
    transition: all ease 0.5s;
    text-align: -webkit-center;
    color: white;
}
#deleteBut {
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79);
    color: white;
    text-align: -webkit-center;
    font-size: 2rem;
    transition: all ease 0.5s;
}
#deleteBut:hover, #d-final:hover {
    background-color: rgb(255, 83, 79);
    border-color: rgb(255, 83, 79);
}
#showPassword, #d-showPassword {
    background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/7467-200.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: none;
    margin-left: -5%;
    width: 5%;
}
#c-body {
    display: flex;
    flex-flow: row;
}
#c-error, #d-error {
    background-color: rgb(217, 83, 79);
    border-color: rgb(217, 83, 79, 0);
    opacity: 0;
    color: white;
}
#createAdmin, #deleteAdmin {
    padding: 1rem;
    padding-top: 0;
    background-color: #f7f7f9;
}
#user, #pass, #createBut {
    padding: 0.1rem;
}
#user, #pass {
    width: 40%;
}
#createBut {
    width: 20%;
    text-align: -webkit-center;
    background-color: rgba(0,0,0,0.05);
    transition: all ease 0.5s;
}
#createBut:hover {
    background-color: rgba(0,0,0,0.2);
}
.active {
    color: white;
}

.content-wrapper {

}
    @media (min-width: 992px) {
        .content-wrapper {
            margin-left: 200px;
        }
    }

.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}

.card-block-icon {
    font-size: 5rem;
    position: absolute;
    z-index: 0;
    top: -25px;
    right: 0;
    transform: rotate(15deg);
}

#mainNav .navbar-collapse {
    overflow: hidden;
    max-height: 75vh;
} #mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse:after {
    font-family: 'FontAwesome';
    float: right;
    content: '\f150';
    color: #464a4c;
  }
#mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a {
    display: block;
    padding: .5em 0;
    color: #636c72;
} #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:focus,
  #mainNav .navbar-collapse .navbar-nav.sidebar-nav .sidebar-second-level > li > a:hover {
    text-decoration: none;
    color: #eceeef;
  }

/* Switch Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 3px;
    margin-bottom: 0;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d9534f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


@media (min-width: 992px) {
    #mainNav .navbar-collapse {
        overflow: visible;
        max-height: none;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav {
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;
        flex-direction: column;
        height: 100vh;
        margin-top: 58px;
        padding-bottom: 56px;
        background: #292b2c;
        -webkit-flex-direction: column;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item {
        width: 200px;
        padding: 0;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .nav-link {
        padding: 1em;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level {
        padding-left: 0;
        list-style: none;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li {
        width: 200px;
    }

    #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a {
        padding-left: 3em;
    }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a {
        color: white;
        background-color: #464a4c;
    }
    #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:hover, #mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active a:focus {
        color: white;
    }
}

/*constraint settings*/
.value {
    width: 50px;
}

.settings {
    text-align:center;
}

#constraint-note {
    font-weight: bold;
    color: red;
}

#editor-modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    display: none;
}

.editor {

    position: absolute;
    width: 700px;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
}

#message {
    text-align: center;
}

.error {
    color: firebrick;
}

.success {
    color: darkgreen;
}
