/*Font Sourcing*/
@font-face {
    font-family: "Orbitron Black";
    src: url(../../../fonts/OrbitronBlack.ttf);
}
@font-face {
    font-family: "Chau Philomene One";
    src: url(../../../fonts/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../../../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: "Dancing Script";
    src: url(../../../fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: "Patua One";
    src: url(../../../fonts/PatuaOne-Regular.ttf);
}

/*Global*/
body {
    /*font-family: "Orbitron Black", "Chau Philomene One";
    background-color: #EDC5B5;*/
}
/*tr:hover {*/
    /*background-color: lightgray;*/
/*}*/
/*Root and outer containers*/
body {
    overflow: hidden;
}
#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
#closedStuff {
    font-size: 2vw;
    color: white;
    font-family: Patua One,cursive;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}
.container-fluid {
    margin-bottom: 1vh;
}

/* Navbar CSS*/
.navbar-nav > .nav-item > .nav-link {
    font-family: "Lobster";
    color: white;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: orange;
}

@media (max-width : 512px) {
    .navbar-brand {
        font-size: 0.6em;
    }
}
.navbar-toggler {
    background-color: white;
}

#cardOuter {
    overflow: hidden;
    overflow-y: scroll;
}
/*.card {*/
    /*max-height: 80vh;*/
    /*background-color: #342D1E;*/
    /*border: solid #342D1E 1px;*/
/*}*/
/*#cardBack {*/
    /*background-color:white;*/
/*}*/

/*.table {*/
    /*color: white;*/
/*}*/
#confirmButton, #cancelButton {
    flex-grow: 1;
}
#orderListButtons {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin: 0px -20px 0 -20px;
}
#confirmList {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 60vh;
    width: 50vw;
}
.table-striped {
    width: 100%;
}
/*Scrollbar styling*/
.menu::-webkit-scrollbar, #confirmList::-webkit-scrollbar {
    background-color: white;
    width: 0.5vw;
}
.menu::-webkit-scrollbar-track, #confirmList::-webkit-scrollbar-track {
    background-color: white;
}
#cardOuter::-webkit-scrollbar-thumb, .menu::-webkit-scrollbar-thumb, #confirmList::-webkit-scrollbar-thumb {
    background-color: #5A2525;
    border-radius: 5px;
}
#cardOuter::-webkit-scrollbar-track {
    background-color: #63674A;
}
#cardOuter::-webkit-scrollbar {
    background-color: #63674A;
    width: 0.6vw;
}

/*Start button*/
#startOuter {
    display: flex;
    justify-content: center;
}
#startBut {
    font-size: 150%;
    width: 50vw;
    border: solid rgba(255,255,255,0.8) 2px;
    background-color: rgba(255,255,255,0.4);
    padding: 3px 0 3px 0;
    color: black;
    text-align: center;
    border-radius: 5px;
    transition: all ease 0.5s;
}
#startBut:hover {
    margin-top: -10px;
    text-decoration: none;
}
/*Item Styling*/
#itemOuter {
    display: flex;
    flex-flow: row wrap;
}
#itemInner {
    border: solid #5A2525 1px;
}
#item {
    flex-grow: 1;
    margin: 10px;
    transition: all ease 0.5s;
    width: 200px;
}
#item:hover {
    margin-top: -10px;
    margin-bottom: 20px;
}
/*menuButtons*/
#menuButtonsOuter {
    display: flex;
    flex-flow: row wrap;
}
/*.btn-danger.active {*/
/*	background-color: #878C6D;*/
/*	border: none;*/
/*}*/
#menuButton1,#menuButton2,#menuButton3 {

    /*background-color: #63674A;*/
    /*transition: all ease 0.5s;*/
    /*border: none;*/
}
/*#menuButton1Active,#menuButton2Active,#menuButton3Active {*/
    /*flex-grow: 1;*/
    /*max-width: 100%;*/
    /*font-size: 120%;*/
    /*!*transition: all ease 0.5s;*!*/
    /*!*background-color: #878C6D;*!*/
    /*!*border: none;*!*/
/*}*/
/*#menuButton1Active:focus, #menuButton2Active:focus, #menuButton3Active:focus {*/
    /*box-shadow: none;*/
/*}*/
/*#menuButton1:hover,#menuButton2:hover,#menuButton3:hover {*/
    /*background-color: #878C6D;*/
    /*border: none;*/
/*}*/
/*orderTable*/
#listOuter {
    display: flex;
    flex-flow: row;
    background-color: #5A2525;
    margin-bottom: 20px;
}
#tablePad, #itemPad, #itemView {
    width: 10px;
    flex-grow: 1;
}
#tableQty, #tablePrice, #tableSub, #itemQty, #itemPrice, #itemSub {
    width: 30px;
    flex-grow: 3;
}
#itemName {
    width: 50px;
    flex-grow: 10;
}
#tableItem {
    width: 25px;
    flex-grow: 10;
}

#tablePad, #tableQty, #tablePrice, #tableSub, #tableItem {
    background-color: transparent;
}
/*Classes*/
.main {
    background-image: url("./images/bgmain.jpg");
    /*	background-color: orange;*/
    /*background-size: cover;*/
}

.styled-font {
    font-family: "Lobster";
}
.menu-item{
    cursor: pointer;
    text-align: center;
    height: 100%;
}

.menu-item > .card-header {
    color: white;
    font-weight: bold;
    background-color: rgb(52,45,30);

}
/*.card-header {*/
    /*border-bottom: solid #5A2525 5px;*/
/*}*/

.menu-item > .card-footer {
    color: white;
    background-color: rgb(163, 55, 8);
}

.menu-item > .card-block {
    background-color: white;
    border: 1px solid #342D1E;
}

.menu-item-container {
    transition: all ease 0.2s;
    transform: scale(1);
}
.menu-item-container:hover {
    transform: scale(1.1);
    z-index: 1;
}

.menu-item-image {
    width: 100%;
    height: 350px;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu {
    min-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}

.item-popup {
    width: 600px;
}

.logo {
    padding: 50px 0px 50px 0px;
    height: 70vh;

}

/* MENU TRANSITION HERE*/
.menu-enter {
    opacity: 0.00;
    bottom: -50px;
}

.menu-enter.menu-enter-active {
    opacity: 1;
    bottom:0px;
    transition: bottom 300ms, opacity 300ms;
}

/* ORDER LIST TRANSITION HERE*/
.order-enter {
    opacity: 0.01;
    right: -50px;
}

.order-enter.order-enter-active {
    opacity: 1;
    transition: 300ms ;
}

.order-leave {
    opacity: 1.0;
}

.order-leave.order-leave-active {
    opacity: 0.00;
    transition: 300ms;
}

/* POPUP TRANSITION */
.popup-enter {
    opacity: 0.01;
    transform: scale(0.5);
}

.popup-enter.popup-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 300ms;
}

.popup-leave {
    opacity: 1;
}

.popup-leave.popup-leave-active {
    opacity: 0.01;
    transform: scale(0.5);
    transition: 300ms;
}

/* CHANGING VIEWS*/
.view-enter {
    opacity: 0.01;
    transform: scale(0.2);
}

.view-enter.view-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 300ms;
}

.view-leave {
    opacity: 1;
}

.view-leave.view-leave-active {
    opacity: 0.01;
    transform: scale(0.1);
    transition: 300ms;
}

/* WELCOME SCREEN*/

/*.welcome-bg {*/
    /*background: url('./images/bg.jpg') no-repeat ;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
/*}*/

/*.welcome-bg-filter {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: white;*/
    /*opacity: 0.2;*/
    /*position: absolute;*/
/*}*/

.welcome-bg-outer {
    height:100vh;
    overflow:hidden;
    background-color: black;
}

.welcome-bg-container {
    position:relative;
    width:100%;
}

.welcome-bg {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

.welcome-bg-banner {

    font-family: 'Lobster', cursive;
    color: white;
    z-index: 1;
    font-size: 4em;
    position: relative;
    text-align: center;
    margin-top: 15vh;
}

.welcome-bg-button {
    padding: 15px;
    display: inline-block;
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 1.5em;
    background-color: orange;
    border-radius: 5px;
    margin:auto;
    cursor: pointer;
}

.welcome-bg-button:hover {
    background-color: #d18300;
    color: #e5e5e5;
    text-decoration: none;
}

.welcome-bg-button-span {
    position: relative;
    margin-top: 40px;
    text-align: center;
    z-index: 2;
}

.welcome-bg-cover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.TWords {
    top: 40%;
    position: relative;
    font-size: 100px;
    color: white;
}

/*BANNER*/
.banner {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3em;

}

.sub {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: white;
}

h1 {
    padding: 0px;
}

/* CURRENCY */
.currency {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.currency-black {
    background-image: url('./images/imperial-credit.png');
}

.currency-white {
    background-image: url('./images/imperial-credit-w.png');
}

.currency-small {
    height: 15px;
    width: 10px;
}

.currency-large {
    height: 30px;
    width: 25px;
}

/*JED my custom buttons*/
.dag-btn {
    color: #F2E1DB;
    background-color: transparent;
    flex-grow: 1 !important;
    max-width: 100% !important;
    font-size: 120%;
    border: 3px solid transparent;
    border-radius: 15px;
    /*flex-grow: 1;*/
    /*max-width: 100%;*/
    /*font-size: 120%;*/
}

.dag-btn:hover {
    border: 3px solid #F2E1DB;
}

.active {
    border: 3px solid #F2E1DB;
}

/*custom cards*/
.dag-card {
    border-color: #342D1E;

}

.dag-card > .card-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#493f2a+0,342d1e+46,342d1e+58,342d1e+100 */
    background: #493f2a; /* Old browsers */
    background: -moz-linear-gradient(top, #493f2a 0%, #342d1e 46%, #342d1e 58%, #342d1e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #493f2a 0%,#342d1e 46%,#342d1e 58%,#342d1e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #493f2a 0%,#342d1e 46%,#342d1e 58%,#342d1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#493f2a', endColorstr='#342d1e',GradientType=0 ); /* IE6-9 */
}

.dag-card > .card-block {
    background-color: #E4DBCB;
    border: 3px solid #342D1E;
}

.btn-success {
    background-color: darkgreen;
}

.btn-danger {
    background-color: firebrick;
}

.btn-warning {
    background-color: orange;
}