/*Global*/
tr:hover {
    background-color: lightgray;
}
/*Classes*/
.menu-item{
    cursor: pointer;
    text-align: center;
    height: 100%;
}

.menu-item .card-header {
    background-color: white;
    font-weight: bold;
}

.menu-item .card-footer {
    color: white;
}

.menu-item .card-block {
    background-color: white;
}

.menu-item-container {
    transition: transform 100ms ease-in-out;
    transform: scale(1);
}
.menu-item-container:hover {
    transform: scale(1.2);
    z-index: 1;
}

.menu {
    min-height: 70vh;
    overflow: hidden;
}

.right-align {
     text-align: right;
 }

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}

.item-popup {
    width: 600px;
}

.logo {
    padding: 50px 0px 50px 0px;
    height: 70vh;

}

/* MENU TRANSITION HERE*/
.menu-enter {
    opacity: 0.00;
    bottom: -50px;
}

.menu-enter.menu-enter-active {
    opacity: 1;
    bottom:0px;
    transition: bottom 300ms, opacity 300ms;
}

/* ORDER LIST TRANSITION HERE*/
.order-enter {
    opacity: 0.01;
    right: -50px;
}

.order-enter.order-enter-active {
    opacity: 1;
    transition: 300ms ;
}

.order-leave {
    opacity: 1.0;
}

.order-leave.order-leave-active {
    opacity: 0.00;
    transition: 300ms;
}

/* POPUP TRANSITION */
.popup-enter {
    opacity: 0.01;
    transform: scale(0.5);
}

.popup-enter.popup-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 300ms;
}

.popup-leave {
    opacity: 1;
}

.popup-leave.popup-leave-active {
    opacity: 0.01;
    transform: scale(0.5);
    transition: 300ms;
}

/* CHANGING VIEWS*/
.view-enter {
    opacity: 0.01;
    transform: scale(0.2);
}

.view-enter.view-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 300ms;
}

.view-leave {
    opacity: 1;
}

.view-leave.view-leave-active {
    opacity: 0.01;
    transform: scale(0.1);
    transition: 300ms;
}

/* WELCOME SCREEN*/

.welcome-bg {
    background: url('https://media.giphy.com/media/11ieZ0aMPSvI5i/giphy.gif') no-repeat ;
    background-size: 100%;

}

.TWords {
    top: 40%;
    position: relative;
    font-size: 100px;
    color: white;
}

.centerButt {
    position: absolute;
    bottom: 15vh;

}

/*BANNER*/
.banner {
    height: 80px;
}

h1 {
    padding: 0px;
}