.order-Number {
	margin: 2px;
	background-color: #C6FDDC;
	border: 4px;
	border-color: black;
	border-style: double;
}

#in-Progress {


}

#serving-Now {


}

#progressDiv {
	width: 50%;
	height: auto;
	position: relative;
	text-align: center;
}

#servingDiv {
	width: 50%;
	height: auto;
	position: relative;
	float: right;
	text-align: center;

}

@media all and (min-width: 1001px) { 
    body {
        font-size: 3em; 
    }
}
@media all and (max-width: 1000px) { 
    body {
        font-size: 2.3em; 
        }
    }
@media all and (max-width: 500px) { 
    body {
        font-size: 1.7em; 
        }
    }

body{
	margin: 0;
}