.order-Number {
	margin: 2px;
	
	border: 4px;
	border-color: black;
	border-style: double;
	
}

.notServed {
	color: rgb(245, 226, 151);
	background-color: rgb(130, 85, 27);
}

.justServed { 
	color: rgb(208, 230, 176);
	background-color: rgb(48, 68, 83);
}

#progressDiv {
	width: 50%;
	height: auto;
	position: relative;
	text-align: center;
}

#servingDiv {
	width: 50%;
	height: auto;
	position: relative;
	float: right;
	text-align: center;

}
