body {
	background-color: blue;
	overflow: hidden;
	font-family: Courier;
}
#outer1 {
	display: flex;
	flex-flow: row;
}

#orders {
	background-color: black;
	color: white;
	width: 60vw;
	height: 96vh;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: double white 1vh;
	display: flex;
	flex-flow: row wrap;
	overflow-y: scroll;
	align-items: flex-start;
}
#orders::-webkit-scrollbar, #foodItems::-webkit-scrollbar {
	background-color: black;
	width: 2vw;
}
#orders::-webkit-scrollbar-track, #foodItems::-webkit-scrollbar-track {
	background-color: black;
}
#orders::-webkit-scrollbar-thumb, #foodItems::-webkit-scrollbar-thumb {
	background-color: dimgray;
	border-radius: 10px;
	
}
#foodItems {
	width: 40vw;
	height: 80vh;
	margin-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: double white 1vh;
	background-color: black;
	overflow-y: scroll;
}
#foodOver {
/*	width: 40vw;*/
	width: 40vw;
	height: 0vh;
	margin-right: 1vw;
	margin-left: 1vh;
	margin-top: 2vh;
	margin-bottom: 1vh;
	border: none;
	background-color: rgba(0, 102, 0, 0.5);
	position: absolute;
/*	display: none;*/
}
#buttons {
	display: flex;
	flex-flow: row;
	height: 13vh;
	background-color: black;
	margin-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border: double white 1vh;
}
button {
	flex-grow: 1;
	margin: 1vw;
	background-color: gray;
	border: none;
	border-radius: 5px;
	font-size: 2vw;
	transition: all ease 0.5s;
}
button:hover {
	background-color: dimgray;
}
#order {
	height: 45vh;
	flex-grow: 1;
	border: solid white 1px;
	position: relative;
}
#head {
	background-color: grey;
	padding: 0.5vh 1vw 0.5vh 1vw;
	margin-bottom: 1vh;
	text-align: center;
}
#item {
	margin-left: 1vw;
	margin-right: 1vw;
	margin-bottom: 1vh;
	border-top: solid white 1px;
	border-bottom: solid white 1px;
	padding: 1px;
}
#foot {
	position: absolute;
	text-align: center;
	padding: 0.5vh 1vw 0.5vh 1vw;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 1vh;
	background-color: grey;
}
#food {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	border: solid white 2px;
	margin: 0.5vh 1vw 0.5vh 1vw;
	padding: 0.5vh 1vw 0.5vh 1vw;
	color: white;
	transition: all ease 0.5s;
}
#food:hover {
	border: solid grey 2px;
}

